<!-- index.html (music_live project) -->
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Music Live Home Page</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				{% load static %}
				<img src="{% static 'images/music_logo.png' %}">
				<a class='navbar-brand' href='#'>Now Playing: {{tv.name}}</a>
			</div>
			<ul class='nav navbar-nav'>
				<li class='active'><a href='/'>Home</a></li>
				<li><a href='{% url "tv-url" 0 %}'>Good live</a></li>
				<li><a href='{% url "tv-url" 1 %}'>Rainy Jazz</a></li>
				<li><a href='{% url "tv-url" 2 %}'>Lofi Hip Hop</a></li>
				<li><a href='{% url "tv-url" 3 %}'>Calm Piano</a></li>
			</ul>
		</div>
	</nav>
	<div class='container'>
		<div id='tvcode' align='center'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{tv.tvcode}}?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
<div class='panel panel-default'>
	<div class='panel-footer'><em>{{ now }}</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.0.min.js"
  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
  crossorigin="anonymous"></script>
</body>
</html> 
